.elementor-54026 .elementor-element.elementor-element-3005b009 {
    text-align: center;
}

.elementor-54026 .elementor-element.elementor-element-3005b009 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
}

.elementor-54026 .elementor-element.elementor-element-104513d.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-104513d.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-104513d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-3a7292cb .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #DF1E26;
    border-radius: 5px 5px 5px 5px;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-6dc37c3a .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-38e24c66 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #DF1E26;
    border-radius: 5px 5px 5px 5px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-6393559d .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-6393559d .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-6393559d > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-54026 .elementor-element.elementor-element-5580cb79 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #DF1E26;
    border-radius: 5px 5px 5px 5px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-629a192a .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-629a192a .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-629a192a > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-54026 .elementor-element.elementor-element-4eedbdec .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #DF1E26;
    border-radius: 5px 5px 5px 5px;
}

.elementor-54026 .elementor-element.elementor-element-24cdc9d9 .elementor-spacer-inner {
    height: 40px;
}

.elementor-54026 .elementor-element.elementor-element-334498d5:not(.elementor-motion-effects-element-type-background), .elementor-54026 .elementor-element.elementor-element-334498d5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F8F9FA;
}

.elementor-54026 .elementor-element.elementor-element-334498d5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
}

.elementor-54026 .elementor-element.elementor-element-334498d5 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-4c462d25 {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-25ab8056 .elementor-image-box-description {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd .elementor-image-box-wrapper .elementor-image-box-img {
    width: 52%;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-6240e1cd .elementor-image-box-description {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 52%;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-2db75e7c .elementor-image-box-description {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 36%;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-60e4bc6 .elementor-image-box-description {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-368ac969 .elementor-spacer-inner {
    height: 40px;
}

.elementor-54026 .elementor-element.elementor-element-40d40b56 {
    text-align: center;
}

.elementor-54026 .elementor-element.elementor-element-40d40b56 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
}

.elementor-54026 .elementor-element.elementor-element-31646531.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-31646531.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-31646531.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 93%;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-wrapper img {
    border-radius: 5px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-title {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-3db44b4b .elementor-spacer-inner {
    height: 40px;
}

.elementor-54026 .elementor-element.elementor-element-9922ac7 {
    text-align: left;
}

.elementor-54026 .elementor-element.elementor-element-9922ac7 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
}

.elementor-54026 .elementor-element.elementor-element-48454873 {
    color: #222222;
}

.elementor-54026 .elementor-element.elementor-element-2956abce {
    color: #222222;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(25px/2);
    margin-left: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-25px/2);
    margin-left: calc(-25px/2);
}

body.rtl .elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-25px/2);
}

body:not(.rtl) .elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-25px/2);
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-icon i {
    color: #61CE70;
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-icon svg {
    fill: #61CE70;
}

.elementor-54026 .elementor-element.elementor-element-7b903fef {
    --e-icon-list-icon-size: 14px;
}

.elementor-54026 .elementor-element.elementor-element-7b903fef .elementor-icon-list-text {
    color: #222222;
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(25px/2);
    margin-left: calc(25px/2);
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-25px/2);
    margin-left: calc(-25px/2);
}

body.rtl .elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-25px/2);
}

body:not(.rtl) .elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-25px/2);
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-icon i {
    color: #61CE70;
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-icon svg {
    fill: #61CE70;
}

.elementor-54026 .elementor-element.elementor-element-512c3fba {
    --e-icon-list-icon-size: 14px;
}

.elementor-54026 .elementor-element.elementor-element-512c3fba .elementor-icon-list-text {
    color: #222222;
}

.elementor-54026 .elementor-element.elementor-element-546e7a8 .elementor-button {
    fill: #009EEB;
    color: #009EEB;
    background-color: #FFFFFF;
}

.elementor-54026 .elementor-element.elementor-element-546e7a8 > .elementor-widget-container {
    margin: 0px 0px 0px -20px;
}

@media(max-width: 767px) {
    .elementor-54026 .elementor-element.elementor-element-104513d .elementor-image-box-img {
        margin-bottom:15px;
    }

    .elementor-54026 .elementor-element.elementor-element-6dc37c3a .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-6393559d .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-629a192a .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-25ab8056 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-6240e1cd .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-2db75e7c .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-60e4bc6 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-31646531 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-3affd86e .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-11062e4c .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-6c6065b3 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-6977def3 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-1903488d .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-2f3dcd07 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-7c5ffad .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-7a138b42 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-68fbcbc3 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-2e7d7c6 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-54026 .elementor-element.elementor-element-256ea5f9 .elementor-image-box-img {
        margin-bottom: 15px;
    }
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: url(../fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
